<section class="fotos">

  <div class="container">
    <div class="row mb-4">
      <div class="col-8">
        <h1 class="title">Fotos</h1>
        <p class="opacity-50">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum consectetur dui sem, eget ullamcorper purus rhoncus ac. In hac habitasse platea dictumst. Curabitur venenatis vitae mi vitae euismod. Nulla in ante dictum, ultricies lacus et, sollicitudin ex.</p>
      </div>
    </div>
  </div>

  <div class="container-fluid">

    <div class="row py-2 align-items-strech">
      <app-box-img class="col" [name]="'teste'" [linkImg]="'../../../../../../assets/imgs/autumn.jpg'" likes="12"></app-box-img>
      <app-box-img class="col" [name]="'teste'" [linkImg]="'../../../../../../assets/imgs/tree.jpg'" likes="12"></app-box-img>
    </div>

    <div class="row py-2 align-items-strech">
      <app-box-img class="col" [name]="'teste'" [linkImg]="'../../../../../../assets/imgs/autumn.jpg'" likes="12"></app-box-img>
      <app-box-img class="col" [name]="'teste'" [linkImg]="'../../../../../../assets/imgs/tree.jpg'" likes="12"></app-box-img>
      <app-box-img class="col" [name]="'teste'" [linkImg]="'../../../../../../assets/imgs/tree.jpg'" likes="12"></app-box-img>
    </div>

    <div class="row py-2 align-items-strech">
      <app-box-img class="col" [name]="'teste'" [linkImg]="'../../../../../../assets/imgs/tree.jpg'" likes="12"></app-box-img>
    </div>



  </div>
</section>
