<!-- <section class="trabalhos-recentes">

</section> -->

<section class="albuns   pb-5">
  <div class="container-fluid">

    <div class="row mb-4">
      <div class="col-6 mx-auto">
        <h1 class="title text-center">Álbuns</h1>
      </div>
    </div>

    <div class="row py-2 align-items-strech">
      <app-box-img class="col" [isAlbum]="true" [name]="'teste'" [linkImg]="'../../../../../../assets/imgs/autumn.jpg'" likes="12"></app-box-img>
      <app-box-img class="col" [isAlbum]="true" [name]="'teste'" [linkImg]="'../../../../../../assets/imgs/tree.jpg'" likes="12"></app-box-img>
    </div>

    <div class="row py-2 align-items-strech">
      <app-box-img class="col" [isAlbum]="true" [name]="'teste'" [linkImg]="'../../../../../../assets/imgs/yellowstone.jpg'" likes="12"></app-box-img>
      <app-box-img class="col" [isAlbum]="true" [name]="'teste'" [linkImg]="'../../../../../../assets/imgs/scotland.jpg'" likes="12"></app-box-img>
      <app-box-img class="col" [isAlbum]="true" [name]="'teste'" [linkImg]="'../../../../../../assets/imgs/forest.jpg'" likes="12"></app-box-img>
    </div>

    <div class="row my-4">
      <div class="col-2 mx-auto">
        <button type="button" class="w-100 btn btn-primary btn-lg rounded-0" routerLink="albuns">
          Ver tudo
        </button>
      </div>
    </div>

  </div>
</section>


<section class="fotos   py-5">
  <div class="container-fluid">

    <div class="row mb-4">
      <div class="col-6 mx-auto">
        <h1 class="title text-center">Fotos</h1>
      </div>
    </div>

    <div class="row py-2 align-items-strech">
      <app-box-img class="col" [name]="'teste'" [linkImg]="'../../../../../../assets/imgs/autumn.jpg'" likes="12"></app-box-img>
      <app-box-img class="col" [name]="'teste'" [linkImg]="'../../../../../../assets/imgs/tree.jpg'" likes="12"></app-box-img>
    </div>

    <div class="row py-2 align-items-strech">
      <app-box-img class="col" [name]="'teste'" [linkImg]="'../../../../../../assets/imgs/yellowstone.jpg'" likes="12"></app-box-img>
      <app-box-img class="col" [name]="'teste'" [linkImg]="'../../../../../../assets/imgs/scotland.jpg'" likes="12"></app-box-img>
      <app-box-img class="col" [name]="'teste'" [linkImg]="'../../../../../../assets/imgs/forest.jpg'" likes="12"></app-box-img>
    </div>

    <div class="row my-4">
      <div class="col-2 mx-auto">
        <button type="button" class="w-100 btn btn-primary btn-lg rounded-0" routerLink="fotos">
          Ver tudo
        </button>
      </div>
    </div>

  </div>
</section>
