<footer class="bg-white" [class.d-none]="!show">
  <div class="container d-flex justify-content-between align-items-center">

    <span>&copy; Todos os direitos reservados</span>

    <div class="social   d-flex">
      <a href="https://pt-br.facebook.com/" target="_blank" class="social-media"></a>
      <a href="https://www.instagram.com/" target="_blank" class="social-media"></a>
      <a href="https://br.pinterest.com/" target="_blank" class="social-media"></a>
    </div>

    <span routerLink="" class="nav-link opacity-50">Você é um administrador do site?</span>

  </div>
</footer>
