.navbar{

  .navbar-brand{
    font-family: 'Architects Daughter', cursive;
    font-size: 2rem;
    font-weight: bold;
  }

  .nav-item {
    margin-right: 2rem;
  }

  .active { font-weight: bold; }
}
