<nav class="navbar">
  <div class="container">
    <ul class="nav">
      <li class="nav-item"><a routerLink="" class="nav-link">HOME</a></li>
      <li class="nav-item"><a routerLink="trabalhos" class="nav-link">TRABALHOS</a></li>
      <li class="nav-item"><a routerLink="blog" class="nav-link">BLOG</a></li>
      <li class="nav-item"><a routerLink="sobre" class="nav-link">SOBRE</a></li>
      <li class="nav-item"><a routerLink="contato" class="nav-link">CONTATO</a></li>
    </ul>
  </div>
</nav>
