<div class="container">

  <div class="row">
    <div class="col-10 bg-white p-5 rounded-lg   mx-auto">

      <h1 class="title text-center">Jimmy Kotlin</h1>
      <h3 class="subtitle text-center">Fotógrafro da natureza</h3>


      <div class="content my-5">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum consectetur dui sem, eget ullamcorper purus rhoncus ac. In hac habitasse platea dictumst. Curabitur venenatis vitae mi vitae euismod. Nulla in ante dictum, ultricies lacus et, sollicitudin ex. Fusce nisl leo, dignissim a scelerisque nec, commodo ac sem. Phasellus sit amet tempor metus, et auctor est. Praesent auctor nisl augue, sed tempus arcu dapibus at.</p>

        <p>Donec sit amet ultrices diam. Aliquam dictum sem sed massa dapibus, at tempor ante dapibus. Integer at laoreet ligula. Sed eget aliquet enim. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Nulla elementum lacinia nibh, finibus venenatis diam convallis at. Etiam gravida ex nulla, vel congue enim iaculis ac. Donec facilisis orci ligula, at vestibulum ipsum lobortis vitae.</p>

        <p>Donec rutrum sodales ligula, non interdum orci blandit quis. Duis nibh massa, imperdiet egestas pulvinar eget, placerat sit amet leo. Aliquam consectetur scelerisque enim, nec fringilla neque interdum quis. Ut semper nunc sit amet pretium vehicula. </p>
      </div>

      <div class="row pb-4">
        <div class="col-12">
          <img src="../../../assets/imgs/jimmy_01.jpg" alt="Jimmy Kotlin" width="100%">
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <img src="../../../assets/imgs/jimmy_02.jpg" alt="Jimmy Kotlin" width="100%">
        </div>
        <div class="col-4">
          <img src="../../../assets/imgs/jimmy_03.jpg" alt="Jimmy Kotlin" width="100%">
        </div>
        <div class="col-4">
          <img src="../../../assets/imgs/jimmy_banner.jpg" alt="Jimmy Kotlin" width="100%">
        </div>
      </div>



    </div>
  </div>

</div>
